.payment {
  display: flex;
  width: 100%; 
  height: 100%;
  padding: 195px 0px 196px 0px;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  background: linear-gradient(227deg, rgba(82, 0, 106, 0.70) 38.98%, rgba(205, 17, 59, 0.70) 78.76%);
}
.payment__page {
 width: 30%;;
  /* height: 809px; */
 padding-top: 28px;
 padding-bottom: 45px;
  background: rgba(241, 241, 241, 0.83);
}
.payment__container {
  padding: 0 25px;
}
.payment__secure {
  display: flex;
  justify-content: end;
  gap: 6px;
  margin-bottom: 25px;
}
.secure__vidj {
  width: 16px;
  height: 17px;
  color: var(--violet);
}
.vidj-text {
  color: var(--violet);
  font-size: 14px;
  font-weight: 500;
}
.payment__card {
  width: 88%;
  border-radius: 32px;
  padding: 7px 25px 30px 25px;
  margin: 0 auto;
  background: linear-gradient(234deg, rgba(200, 147, 216, 0.53) 19.46%, #EFA3B6 77.25%);
  margin-bottom: 12px;
}
.logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;

  
}

.logo__title {
  width: 66px;
  height: 27px;
}
.logo__g13 {
  width: 67px;
  height: 28px;
  transform: rotate(-0.84deg);
}
.card__number {
  font-size: 19px;
  letter-spacing: 2.85px;
  text-align: center;
  color: var(--violet);
  margin-bottom: 43px;
}
.card__owner {
  display: flex;
  justify-content: space-between; 
}
.owner__name,
.owner__time {
  color: var(--violet);
  font-size: 14px;
  font-weight: 600;

}
.payment__alter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
  text-align: center;
}

.vidj_alt {
  width: 29px;
  height: 30px;
  color: var(--violet)
}
.vidj-text_alt {
  font-size: 15px;

}
.payment__form {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 100%;
  margin-bottom: 50px;
}
.form__item {
  color: var(--tomato);
  font-size: 14px;
  line-height: 18px;
}
.form__item:nth-child(2) {
  margin-bottom: 33px;
}
.form__input {
  border-radius: 10px;
  background: #F2ECEC;
  
  box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
}
.form__input_big {
  padding: 18px 94px;
}
.form__item_small {
  padding: 18px 25px;
}
.form__input::placeholder {
  text-align: center;
  color: var(--violet);
  font-size: 19px;
  letter-spacing: 2.85px;
}

.form__input_big {
  width: 100%;
  height: 60px;
}
.form__data {
  display: flex;
  justify-content: space-between;
}

.form__input_small {
  display: block;
  width: 108px;
  height: 60px;
}
.payment__button {
  display: block;
  color: var(--violet);
  font-size: 18px;
  border-radius: 10px;
  background: #FFA900;
  padding: 22px 92px 18px;
  border: none;
  margin: 0 auto;
}